<div class="login jumbotron center-block">
	<h1>Login</h1>
	<form role="form">
		<div class="form-group">
			<label for="username">Usuário</label>
			<input type="text" class="form-control" ng-model="user.username" id="username" placeholder="Usuário">
		</div>
		<div class="form-group">
			<label for="password">Senha</label>
			<input type="password" class="form-control" id="password" ng-model="user.password" placeholder="Senha">
		</div>
		<button type="submit" class="btn btn-success" ng-disabled="!user.username || !user.password || loading" ng-click="login()">Entrar <i class="fa fa-spinner fa-pulse" ng-show="loading"></i></button>
	</form>
	<a ui-sref="signup()">Cadastre-se</a>
</div>
